<!DOCTYPE html>
<html>
  <head>
    <title>New Client Registration Form</title>
  </head>
  <body>
    <h1>Add a new client</h1>

    <form method="POST" action="/api/v1/clients/" enctype="multipart/form-data">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>

      <div>
        <label for="contact_person">Contact person:</label>
        <input type="text" id="contact_person" name="contact_person">
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      </div>

      <div>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone">
      </div>

      <div>
        <label for="website">Website:</label>
        <input type="text" id="website" name="website">
      </div>

      <div>
        <label for="pdf">PDF:</label>
        <input type="file" id="pdf" name="pdf">
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>


